@media screen and (max-width:576px) {
    .mbl {
        display: none;
    }

    .navbar {
        padding: 30px 50px;
        justify-content: space-between;
    }

    .logo {
        width: 200px;
        margin-right: 200px;
    }

    .flower {
        margin-left: 50px;
        /* margin-right: 20px; */
    }

    .flower-images {
        width: 560px;
    }


    .our-plants {
        padding: 0 30px;
    }


    .card-image {
        width: 150px;
    }

    .btn {
        width: 150px;
        font-size: 0.50rem;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
        column-gap: 0px;
        justify-content: center;
        margin-top: 30px;
        margin-left: 50px;
    }

    .flower-plants {
        margin-left: 100px;
    }


    .flower-image {
        width: 400px;
    }

    .flower-plants-content {
        width: 400px;
    }

    .flower-plants-content .shoping {
        font-size: 30px;
        align-items: center;
    }

    .shoping-img {
        width: 60px;
        margin-right: 10px;
    }

    .flower {
        flex-direction: column-reverse;
    }


    .flower-content {
        width: 361;
    }

    .latest-deals-image {
        flex-direction: column;
        gap: 30px;
    }

    .dis-fir {
        display: flex;
        gap: 30px;
        flex-direction: column;
    }


    .flower-plants {
        flex-direction: column;
    }

    .trusted-image {
        display: none;
    }

    .colorful-bunch {
        justify-content: center;
        align-items: center;
        width: 530px;
    }

    .colorful-bunch h1 {
        font-size: 30px;
    }

    .sixty,
    .thirty,
    .dis-sec,
    .our-plants-content {
        width: 367px;
        margin: 0 auto;
        text-align: center;
    }

    .search-box {
        width: 321px;
    }

    footer {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 10px;
    }

    .home ul {
        grid-template-columns: repeat(1, 1fr);
    }
}