@media screen and (max-width:576px) {
    .mbl {
        display: none;
    }

    .navbar {
        padding: 30px 50px;
        justify-content: space-around;
    }

    .logo {
        width: 200px;
    }

    .shoping {
        font-size: 30px;
        align-items: center;
    }

    .shoping-img {
        width: 60px;
        margin-right: 10px;
    }

    .flower {
        flex-direction: column-reverse;
    }

    .flower-images {}

    .flower-content {
        width: 361;
    }

    .cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
        column-gap: 0px;
    }

    .our-plants {
        margin: 0 auto;
    }

    .flower-plants {
        flex-direction: column;
    }

    .trusted-image {
        display: none;
    }

    .latest-deals-image {
        flex-direction: column;
    }

    .sixty,
    .thirty,
    .dis-sec,
    .our-plants-content {
        width: 367px;
        margin: 0 auto;
        text-align: center;
    }
}