* {
    margin: 0;
    padding: 0;
    font-family: Inter;
    /* background-color: #F5F8FF; */
}

/* special font for large text */
.noto-serif-font {
    font-family: Noto Serif;
}

/* display flex */
.display-flex {
    display: flex;
}

/* common color and styles */
.gray-color {
    color: #8987A1;
}

.navbar,
.flower,
.our-plants,
.flower-plants,
.latest-deals-image,
footer {
    max-width: 1140px;
    margin: 0 auto;
}

.flower,
.our-plants,
.flower-plants,
.latest-deals-image {
    margin-top: 130px;
}

section {
    margin-top: 130px;
}

/* navbar */
.navbar,
.flower,
.flower-plants,
.latest-deals-image {
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 120px;
}

.shoping-img {
    width: 20px;
    /* margin-right: 5px; */
}

.shoping {
    gap: 7px;
}

.lst {
    list-style: none;
}

ul {
    gap: 20px;
    align-items: center;
}

/* fresh flower */
.fresh-flower {
    color: #E95A08;
}

.flower-title {
    font-size: 4rem;
    margin-bottom: .81rem;
}

.flower-des {
    font-size: 1.375rem;
}

.flower-images {
    width: 570px;
}

/* plants section */
.planst-title {
    font-size: 3.125rem;
    font-weight: bold;
}

.flower-des-wd {
    max-width: 850px;
    margin: 0 auto;

}

.our-plants-content {
    text-align: center;
    margin-bottom: 49px;
}

.card-image {
    width: 270;
    margin-bottom: 20px;
}

.card {
    max-width: 100%;
    text-align: center;
    margin: 0;
}

.card:hover {}

.flower-name {
    font-size: 1.375rem;
    font-weight: 600;
}

.plant-price {
    font-size: 1.375rem;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 30px;
}

.btn {
    width: 270px;
    background-color: #E95A08;
    padding: 15px 50px;
    font-size: 0.81rem;
    color: #ffffff;
    border: none;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;
}

/* flower section */
.flower-image,
.flower-plants-content {
    width: 540px;
}

.flower-list {
    font-size: 1.5rem;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    margin-left: 30px;
}

.flower-plants-content h1 {
    margin-bottom: 20px;
}

.trusted-image {
    width: 200px;
    background: none;
}

.images-box {
    position: relative;
}

.trusted-image {
    position: absolute;
    bottom: 490px;
    left: 405px;
}



/* latest deals section */

.sixty {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(assets/deal-bloom.png);
    background-repeat: no-repeat;
    width: 367px;
    height: 201px;
    margin-bottom: 23px;
    border-radius: 14px;
    padding: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thirty {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(assets/deal-ana.png);
    background-repeat: no-repeat;
    width: 367px;
    height: 201px;
    border-radius: 14px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dis-sec {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(assets/deal-zabo.png);
    background-repeat: no-repeat;
    width: 753px;
    height: 423px;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.deals-title {
    font-size: 1.25;
    color: #ffffff;
}

.deals-des {
    font-size: 0.9rem;
    color: #ffffff;
}

.dis-sec .deals-title {
    font-size: 2.5rem;
    color: #ffffff;
}

.dis-sec .deals-des {
    font-size: 1.75rem;
    color: #ffffff;
}

/* colorful-bunch */
.colorful-bunch {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(assets/news-letter-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    /* background-size: contain; */
    /* max-width: 100%; */
    height: 533px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.colorful-bunch .planst-title {
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 23px;
}

.search-box {
    width: 52.5rem;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
}

.email {
    font-size: 0.80rem;
    color: rgba(0, 0, 0, 0.5);
}

.home ul li {
    list-style: none;
    margin-bottom: 20px;
    color: #6B7280;
    font-size: 0.80rem;
}

.icon ul li {
    list-style: none;
}

footer {
    margin-top: 40px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
}

.conclution-part .flower-des {
    font-size: 1rem;
}

.home ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}